
/*------------ POLICES & TEXTES ------------- */

$color_main : whitesmoke; 
$color_win : blue;
$color_lose : red;

p {
    color: $color_main;
}

h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color_main;
    text-decoration: underline;
    font-size: 2em;

}

h2 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color_main;
    font-size: 1.5em;

}

h3 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color_main;
    font-weight: bold;
    font-size: 2em;
    border:solid $color_main;
    padding: 5px;
    margin-top: 50px;

}

/*------------ CONTENU PRINCIPAL ------------- */

body {
    background-image: url('../Images/Tapis2.jpg');
    background-repeat: repeat;
    background-color:$color_main;
}

header {
    margin-bottom: 50px;
}

main {
    display: flex;
    justify-content: space-between;
}

.user {

display: flex;
flex-direction: column;
border-right:solid $color_main;
width: 50%;

    &__title { /* Le bloc titre de l'utilisateur */

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

    }

    &__board {

        display: flex;
        justify-content: space-around;
        align-items: center;

        &__select {

            &__rock {

                clip-path: circle();
            }

            &__paper {

                clip-path: circle();
            }

            &__scissors {

                clip-path: circle();
            }
        }

        &__play {

            border:solid 10px $color_win;

        }
    }
}

.IA {

    display: flex;
    flex-direction: column;
    border-right:solid;
    width: 50%; 

    &__title { /* Le bloc titre de l'IA */

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

    }

    &__board {

        display: flex;
        justify-content: space-around;
        align-items: center;

        &__play {

            border:solid 10px $color_lose;

        }

        &__select {

            &__rock {

                clip-path: circle();
            }

            &__paper {

                clip-path: circle();
            }

            &__scissors {

                clip-path: circle();
            }

            img {filter:grayscale(100%);}
        }
    }
    
}

footer {
    display: flex;
    justify-content: center;
}